server:
  port: 8200
spring:
  application:
    name: project-service
  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: full
            requestInterceptors:
              - pl.altkom.springcloud.lab05.configserver.projectservice.client.interceptor.RequestHeaderCustomizerInterceptor
logging:
  pattern:
    level: "%5p [%X{traceId:-},%X{spanId:-}]"
  level:
    pl.altkom.springcloud.lab05.configserver.projectservice.client: DEBUG

